html {
  scroll-behavior: smooth;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* ------------- project card -------------- */
.view {
  width: 380px;
  height: 300px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
}

.view:nth-child(1) {
  background: rgb(110, 7, 243);
}
.view:nth-child(2) {
  background: rgb(110, 7, 243);
}
.view:nth-child(3) {
  background: rgb(110, 7, 243);
}
.view:nth-child(4) {
  background: rgb(110, 7, 243);
}

.view .mask,
.view .content {
  width: 380px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view img {
  display: block;
  position: relative;
}

.view-tenth img {
  transform: scaleY(1);
  transition: all 0.7s ease-in-out;
}

.view-tenth .mask {
  background-color: rgba(255, 231, 179, 0.3);
  transition: all 0.5s linear;
  opacity: 0;
}
@media (max-width: 600px) {
  .view {
    width: 300px;
  }
  .view .content {
    width: 300px;
  }
}
.view-tenth a.info {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
}

.view-tenth:hover img {
  transform: scale(10);
  opacity: 0;
}

.view-tenth:hover .mask {
  opacity: 1;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
  transform: scale(1);
  opacity: 1;
}
