/* .card--profile{
    background-image: url("/img/bg-card.jfif");
    background-size: cover;
    background-repeat: no-repeat;
 
} */
/* .banner {
  background-image: url("/img/soga.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30vw;
  height: 30vh;
} */

/* .p--custom{
  font-zize:202px;
}
@media (min-width: 600px) {
.p--custom{
    font-zize:120px;
  }
} */